
<div class="modal-footer">
    <input id="closeModal" type="reset" class="btn btn-outline-info" data-dismiss="modal"
           value="Cancel">
    <button type="button" class="btn btn-danger" value="Submit" onclick="SubmitDelete()">
        <i id="sbtLoader" style="display: none" class="la la-spinner spinner cust-spinner"></i>
        <span id="sbtText">Delete</span>
    </button>
   
</div>