
<div class="modal-footer">
    <input id="closeModal" type="reset" class="btn btn-outline-info" data-dismiss="modal"
           value="Close">
    <button type="button" class="btn btn-outline-info" value="Submit" onclick="SubmitAddForm(true)">
        <i id="sbtNewLoader" style="display: none" class="la la-spinner spinner cust-spinner"></i>
        <span id="sbtNewText">Submit &#38; Add New</span>
    </button>
    <button type="button" class="btn btn-info" value="Submit" onclick="SubmitAddForm(false)">
        <i id="sbtLoader" style="display: none" class="la la-spinner spinner cust-spinner"></i>
        <span id="sbtText">Submit</span>
    </button>
</div>