
<div class="modal fade text-left effect-scale" id="partialModalFull" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="partialModalFull" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title white" id="modalTitleFull">---</h3>
                <button type="button" class="btn-close btn-outline-default white" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="height: auto; transition: height 5s ease-out" id="modalBodyFull" class="modal-body pt-1 pr-0 pl-0">

            </div>
            @*<div class="modal-footer"></div>*@
        </div>
    </div>
</div>