
<div class="modal-footer">
    <input id="closeModal" type="reset" class="btn btn-outline-info" data-dismiss="modal"
           value="Close">
    <button type="button" class="btn btn-info" value="Submit" onclick="SubmitUpdateForm()">
        <i id="sbtLoader" style="display: none" class="la la-spinner spinner cust-spinner"></i>
        <span id="sbtText">Submit</span>
    </button>
</div>